<body>
    <h1>Add Student</h1>
    <form action="/addStudent" method="POST">
    <label>Student ID:</label>
    <input type="text" name="sid"><br>
    <label>Student Name</label>
    <input type="text" name="name"><br>
    <label>Student Age</label>
    <input type="text" name="age"><br>
    <input type="submit" value="OK">
    </form>
</body>
