<head>
    <title>Delete Lecturer</title>
</head>
<body>
    <!--Displaying the appropriate error message-->
    <p style="font-size: 20px;"><a href="/">Home</a></p>
    <h1><u>Error Deleting Lecturer</u></h1>
    <h2>Cannot delete lecturer <%= lecturerId %>. He/She has associated module</h2>
</body>