<!--Default View of the program-->
<!--Displaying my student id-->
<div style="text-align: center; border: 2px solid black; border-radius: 5px; max-width: fit-content; margin: auto; background-color: lightblue;">
    <h1><u>Student Database</u></h1>
    <h1><u>G00417466</u></h1>
    <!--Navigation Links: Providing routing to each of the core parts of our application-->
    <div style="text-align: center; border: 2px solid black; margin: auto; background-color: aquamarine;">
        <p><a href="/students">Students</a><br>
            <a href="/grades">Grades</a><br>
            <a href="/lecturers">Lecturers</a>
        </p>
    </div>
</div>