<!--Default View of the program-->
<!--Displaying my student id-->
<h1>G00417466</h1>
<!--Navigation Links: Providing routing to each of the core parts of our application-->
<ul>
    <li><a href="/students">Students</a></li>
    <li><a href="/grades">Grades</a></li>
    <li><a href="/lecturers">Lecturers</a></li>
</ul>